<section class="flex flex-col mx-4 gap-4">
    <div class="divider" />
    <h2 class="text-secondary">More</h2>
    <p class="text-primary">
        Find us on <a href="https://linkedin.com/company/palladians" target="_blank" rel="noopener noreferrer" class="underline">LinkedIn</a>.
        See our code on <a href="https://github.com/palladians" target="_blank" rel="noopener noreferrer" class="underline">GitHub</a>.
        See our designs on <a href="https://dribbble.com/palladians" target="_blank" rel="noopener noreferrer" class="underline">Dribbble</a> and <a href="https://layers.to/palladians" target="_blank" rel="noopener noreferrer" class="underline">Layers</a>.
    <p>
    <a class="text-primary underline" href="mailto:team@palladians.xyz">Mail us</a>
</section>
