<header class="flex flex-col gap-4 mx-4">
    <img src="/logo-full.svg" width={160} height={40} alt="Palladians logotype" />
    <h1 class="text-secondary">Bridging the gap between you and the Web3.</h1>
</header>
