---
const { title, href, customClass } = Astro.props;
---

<a href={href} class:list={["card gap-2 p-4 hover:bg-neutral", customClass]}>
    <h3 class="text-secondary">{title}</h3>
    <p class="text-primary">
        <slot />
    </p>
</a>
