---
import "@fontsource-variable/dm-sans";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/logo.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>You and the Web3 \ Palladians</title>
		<meta name="description" content="We are a software development collective of open source enthusiasts. Our main mission is to enrich Web3 with user-friendly experiences." />
		<link rel="sitemap" href="/sitemap-index.xml" />
	</head>
	<body class="flex flex-col gap-16 container max-w-[680px] mx-auto my-8 min-w-screen">
		<slot />
	</body>
</html>

<script>
import VanillaTilt from 'vanilla-tilt';
const tiltElements = document.querySelectorAll('.tilt-card')
VanillaTilt.init(tiltElements as any);
</script>

<style is:global>
body {
  font-family: 'DM Sans Variable', sans-serif;
  text-align: justify;
  line-height: 1.75;
  font-size: 1.125rem;
  font-weight: 500;
}
</style>
